$bl: #272822;
$r: #c03;
$g: #429032;
$b: #2963bd;
$y: #c90;

div{
    &.solidSquare{
        align-self: center;
        background-color: $g;
        border-radius: 1vw;
        height: 7.5vw;
        width: 7.5vw;
    }
}

@media only screen and (orientation: landscape) {
    div{
        &.solidSquare{
            align-self: center;
            background-color: $b;
            border-radius: 1vh;
            height: 7.5vh;
            width: 7.5vh;
        }
    }
}