$bl: #272822;
$r: #c03;
$g: #429032;
$b: #2963bd;
$y: #c90;
$w: #fff;

div{
    &.blank{
        align-self: center;
        background-color: $w;
        height: 7vw;
        width: 7vw;
    }
    &.square{
        align-self: center;
        background-color: $g;
        border-radius: 1vw;
        height: 7vw;
        width: 7vw;
    }
    &.circle{
        align-self: center;
        background-color: $g;
        border-radius: 3.75vw;
        height: 7vw;
        width: 7vw;
    }
    &.bottomLeft {        
      height: 0;
      width: 0;
      border-bottom: 7vw solid $g;
      border-right: 7vw solid $w;
    }
    &.bottomRight {        
      height: 0;
      width: 0;
      border-bottom: 7vw solid $b;
      border-left: 7vw solid $w;
    }    
    &.topRight {        
        height: 0;
        width: 0;
        border-top: 7vw solid $y;
        border-left: 7vw solid $w;
    }
    &.topLeft {        
        height: 0;
        width: 0;
        border-top: 7vw solid $r;
        border-right: 7vw solid $w;
    }
}

@media only screen and (orientation: landscape) {
    div{
        &.square{
            align-self: center;
            background-color: $b;
            border-radius: 1vh;
            height: 7vh;
            width: 7vh;
        }
        &.circle{
            align-self: center;
            background-color: $g;
            border-radius: 3.75vh;
            height: 7vh;
            width: 7vh;
        }
        &.bottomLeft {        
            height: 0;
            width: 0;
            border-bottom: 7vh solid $g;
            border-right: 7vh solid $w;
        }    
        &.bottomRight {        
          height: 0;
          width: 0;
          border-bottom: 7vh solid $b;
          border-left: 7vh solid $w;
        } 
        &.topRight {        
            height: 0;
            width: 0;
            border-top: 7vh solid $y;
            border-left: 7vh solid $w;
        }
        &.topLeft {        
            height: 0;
            width: 0;
            border-top: 7vh solid $r;
            border-right: 7vh solid $w;
        }
    }
}