$bl: #272822;
$r: #c03;
$g: #429032;
$b: #2963bd;
$y: #c90;

h1, .sizeBox{
    font-family:'Franklin Gothic Medium';
    margin: 2vw;
    border: 5px solid $bl;
    border-radius: 10px;
    width:fit-content;
    padding: .5vw;
}

.header{
    display: flex;
    flex-direction: row;
}

.container{
    margin: 1vw;
}

.column{
    display: grid;
    grid-auto-rows: 7.5vw;
    grid-auto-columns: 7.5vw;
}
.row{
    display: inline-grid;
    row-gap: 2vw;
    margin: 1vw;
}

div{
    &.solidSquare{
        align-self: center;
        background-color: $b;
        border: 1px solid $b;
        border-radius: 1vw;
        height: 7.5vw;
        width: 7.5vw;
    }
}
