
<h1>Lewis' Art Project</h1>
<div class="header">
  
  <input type="number" placeholder="Width" min="1" max="30" class="sizeBox" [(ngModel)]="matrixWidthValue" (change)="onWidthChanged()">
  <input type="number" placeholder="Height" min="1" max="30" class="sizeBox" [(ngModel)]="matrixHeightValue" (change)="onHeightChanged()">
  <select name="width" class="colorBox">
    <option value="RYGB" selected>"Red / Yellow / Green / Blue"</option>
    <option value="Other">Other</option>
  </select>
  <div class="sliderContainer">
    <input type="range" min="1" max="10"  class="slider" id="sizeSlider" [(ngModel)]="sliderValue" (change)="onSliderChanged()">
  </div>
</div>


<div class="container">
  <div class="row" *ngFor="let item of itemsWidth">
    <div class="column" *ngFor="let itemsHeight of itemsHeight"
      [style.grid-auto-rows]="sliderValue | addViewport"
      [style.grid-auto-columns]="sliderValue | addViewport">
            
      <app-polygon [polygonSize]="sliderValue"></app-polygon>
    </div>
  </div>
</div>


<hr/>
<footer>
  <p>&copy; Luis García Montañés | 2021 </p>
  <a href="https://github.com/LewisGRobotics"> About</a>
</footer>
