
<h1>Lewis' Art project</h1>
<div class="header">
  
  <input type="number" placeholder="Width" class="sizeBox" [value]="matrixWidthValue">
  <input type="number" placeholder="Height" class="sizeBox" [value]="matrixHeightValue">
  <select name="width" class="colorBox">
    <option value="RYGB" selected>"Red / Yellow / Green / Blue"</option>
    <option value="Other">Other</option>
  </select>
  <div class="sliderContainer">
    <input type="range" min="1" max="10" value="7.5" class="slider" id="sizeSlider" [value]="sizeValue">
  </div>
</div>


<div class="container">
  <div class="row" *ngFor="let item of items">
    <div class="column" *ngFor="let item of items">
      <app-polygon></app-polygon>
    </div>
  </div>
</div>


<hr/>
<footer>
  <p>&copy; Luis García Montañés | 2021 </p>
  <a href="https://github.com/LewisGRobotics"> About</a>
</footer>
